<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <h3 class="text-success text-center">El primer sitio web que te informa de las cotizaciones de diferentes empresas</h3>
    </div>
  </div>
</div>
